/* html body { 
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(111, 63, 63);
}

a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 10px;
}

.container {
    margin: 30px auto;
    width: 80%;
}

form input, form button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

/* table {
    border-collapse: collapse;
    width: 80%;
    background-color: aquamarine;
    margin: 20px auto; 
}

a {

}

table, th, td {
    border: 1px solid black;
}

tr {
    
} */

/* .error {
    color: red;
} */ 

/* .pop-link {
    transition: all 0.15s ease-in-out; 
      display: inline-block;
}

.pop-link:hover {
      transform: scale(1.15); 
      color: lightslategrey;
}

.rounded-extra {
    border-radius: 1.5rem !important;
    overflow: hidden;
    margin: 0;
} */

/* Extra rounded corners */
.rounded-extra {
  border-radius: 1.5rem !important;
  margin: 0; /* remove outside white space */
  overflow: hidden; /* ensures hover scale doesn't overflow card */
}

/* Hover pop-out effect */
.pop-link .card-body {
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.pop-link:hover .card-body {
  transform: scale(1.05);
  box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.3);
}

.overlay {
  width: auto;
  height: auto;
  /* background-image: url(runescapebg.png); Image behind content */
  background-color: slategrey;
  background-size: cover;      /* Make image cover the div */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  border: .55em solid rgb(66, 73, 80);
  border-radius: 1.5rem;
  color: white;                /* Make text readable */
  padding: 20px;
}
